<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label for="question" class="form-label"><p>Ask your coach anything:</p></label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="question" name="question" aria-label="Ask your coach anything input field">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
